@page "{id:Guid}"
@model QuanLyBongDa.Pages.Member.EditModel
@{
    var message = ViewData["Message"]?.ToString();
}
<form method="post">
    @if (!string.IsNullOrWhiteSpace(message))
    {
        <div class="alert alert-success" role="alert">@message</div>
    }
    <h1 class="mb-3">Edit Member</h1>

    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="EditMemberViewModel.Id" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">Ten Cau Thu</label>
        <input type="text" class="form-control" asp-for="EditMemberViewModel.TenCauThu" />
    </div>
    <div class="mb-3">
        <label class="form-label">So Ao</label>
        <input type="number" class="form-control" asp-for="EditMemberViewModel.SoAo" />
        <div class="mb-3">
            <label class="form-label">Vi Tri</label>
            <input type="text" class="form-control" asp-for="EditMemberViewModel.ViTri" />
        </div>
    </div>
    <div class="mb-3 d-flex justify-content-between">
        <button type="submit" class="btn btn-primary" asp-page-handler="Save">Save</button>
        <button type="submit" class="btn btn-danger" asp-page-handler="Delete">Delete</button>
    </div>
</form>